.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at top, #fafafa, transparent),
    radial-gradient(ellipse at bottom, #d2d0d0, transparent);
  font-family: "Varela", sans-serif;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin: 20px 0;
  cursor: pointer;
  background-color: #e04545;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Varela", sans-serif;
  transition: all 0.5s ease;
}

.loginButton:hover {
  background-color: #f08080;
}

.loginButton:disabled {
  background-color: #110000;
  cursor: not-allowed;
}

.loginRegisterButton {
  background-color: #008080;
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: "Varela", sans-serif;
  transition: all 0.5s ease;
}

.loginRegisterButton:hover {
  background-color: #065252;
}
